h2 p {
    width: 60%;
    text-align: left;
}

.test {
    color: chocolate;
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 150px;
    background-color: rgba(0, 0, 0, 0.445);
}

.Bloc_left {
    text-align: left;
    flex-direction: column;
    width: 50%;
    background-color: rgb(87, 77, 67);
    padding: 20px;
    color: rgb(255, 255, 255);
    border: solid;
}

.Bloc_right {
    text-align: right;
    flex-direction: column;
    width: 70%;
    background-color: rgb(230, 196, 152);
    padding: 20px;
    color: black;
    border: solid;
}

.en-tete {
    border: solid;
    color: chocolate;
    width: 250px;
    text-align: center;
    margin-left: 37%;
}